{{outlet}}

<h2> About Dodgy Shacks </h2>

<p>The Dodgy Shacks website was created for us to learn Ember (AKA "Embah"). It may or may not work... today.</p>

{{#link-to 'contact'}} Contact Us {{/link-to}}
